.cushion {
  margin-top: 1.125em;
}

.no-space {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

.truncate-headline {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.truncate-copy {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.navy-text {
  color: #384B5D;
}

.navy-60-text {
  color: #88939e;
}

.navy-30-text {
  color: #c3c9ce;
}

.navy-bg {
  background: #384B5D;
}

.navy-60-bg {
  background: #88939e;
}

.navy-30-bg {
  background: #c3c9ce;
}

.blue-gray-text {
  color: #A9B4BF;
}

.blue-gray-60-text {
  color: #cbd2d9;
}

.blue-gray-30-text {
  color: #e5e9ec;
}

.blue-gray-bg {
  background: #A9B4BF;
}

.blue-gray-60-bg {
  background: #cbd2d9;
}

.blue-gray-30-bg {
  background: #e5e9ec;
}

.rose-text {
  color: #C05F68;
}

.rose-60-text {
  color: #d99fa4;
}

.rose-30-text {
  color: #eccfd2;
}

.rose-bg {
  background: #C05F68;
}

.rose-60-bg {
  background: #d99fa4;
}

.rose-30-bg {
  background: #eccfd2;
}

.teal-text {
  color: #6EC5AB;
}

.teal-60-text {
  color: #a8dccd;
}

.teal-30-text {
  color: #d4eee6;
}

.teal-bg {
  background: #6EC5AB;
}

.teal-60-bg {
  background: #a8dccd;
}

.teal-30-bg {
  background: #d4eee6;
}

.aqua-text {
  color: #6C96A1;
}

.aqua-60-text {
  color: #a7c0c7;
}

.aqua-30-text {
  color: #d3e0e3;
}

.aqua-bg {
  background: #6C96A1;
}

.aqua-60-bg {
  background: #a7c0c7;
}

.aqua-30-bg {
  background: #d3e0e3;
}

.off-white-text {
  color: #E6E8EF;
}

.off-white-60-text {
  color: #f0f1f5;
}

.off-white-30-text {
  color: #f8f8fa;
}

.off-white-bg {
  background: #E6E8EF;
}

.off-white-60-bg {
  background: #f0f1f5;
}

.off-white-30-bg {
  background: #f8f8fa;
}

.light-gray-text {
  color: #F0F2F9;
}

.light-gray-60-text {
  color: #f6f7fb;
}

.light-gray-30-text {
  color: #fbfbfd;
}

.light-gray-bg {
  background: #F0F2F9;
}

.light-gray-60-bg {
  background: #f6f7fb;
}

.light-gray-30-bg {
  background: #fbfbfd;
}

.dark-gray-text {
  color: #808085;
}

.dark-gray-60-text {
  color: #b3b3b6;
}

.dark-gray-30-text {
  color: #d9d9da;
}

.dark-gray-bg {
  background: #808085;
}

.dark-gray-60-bg {
  background: #b3b3b6;
}

.dark-gray-30-bg {
  background: #d9d9da;
}

.mineshaft-text {
  color: #4D4D4E;
}

.mineshaft-60-text {
  color: #949495;
}

.mineshaft-30-text {
  color: #cacaca;
}

.mineshaft-bg {
  background: #4D4D4E;
}

.mineshaft-60-bg {
  background: #949495;
}

.mineshaft-30-bg {
  background: #cacaca;
}

.white-text {
  color: #ffffff;
}

.white-60-text {
  color: white;
}

.white-30-text {
  color: white;
}

.white-bg {
  background: #ffffff;
}

.white-60-bg {
  background: white;
}

.white-30-bg {
  background: white;
}

.padding-mini {
  padding-top: 1em;
  padding-bottom: 1em;
}

.padding-short {
  padding-top: 2em;
  padding-bottom: 2em;
}

.padding-tall {
  padding-top: 4em;
  padding-bottom: 4em;
}

.padding-wide {
  padding-left: 4em;
  padding-right: 4em;
}

.padding-thin {
  padding-left: 2em;
  padding-right: 2em;
}

* {
  transition: all 0.2s ease-in-out;
  //font-size: 16px;
  color: #4D4D4E;
}

pre {
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

::selection {
  background: #384B5D;
  color: #ffffff;
}

::-moz-selection {
  background: #384B5D;
  color: #ffffff;
}

body {
  font-family: "brandon-grotesque", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  letter-spacing: .14em;
}

.content p, .content small, .content div {
  font-family: "museo-sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1.text-xxl, h2.text-xxl, h3.text-xxl, h4.text-xxl, h5.text-xxl, h6.text-xxl {
  font-size: 2em;
  line-height: 2.5em;
}

p.text-xxl, span.text-xxl {
  font-size: 2em;
  line-height: 3em;
}

h1.text-xl, h2.text-xl, h3.text-xl, h4.text-xl, h5.text-xl, h6.text-xl {
  font-size: 1.75em;
  line-height: 2.25em;
}

p.text-xl, span.text-xl {
  font-size: 1.75em;
  line-height: 2.75em;
}

h1.text-l, h2.text-l, h3.text-l, h4.text-l, h5.text-l, h6.text-l {
  font-size: 1.5em;
  line-height: 2em;
}

p.text-l, span.text-l {
  font-size: 1.5em;
  line-height: 2.5em;
}

h1.text-m, h2.text-m, h3.text-m, h4.text-m, h5.text-m, h6.text-m {
  font-size: 1.125em;
  line-height: 1.625em;
}

p.text-m, span.text-m {
  font-size: 1.125em;
  line-height: 2.125em;
}

h1.text-default, h2.text-default, h3.text-default, h4.text-default, h5.text-default, h6.text-default {
  font-size: 1em;
  line-height: 1.5em;
}

p.text-default, span.text-default {
  font-size: 1em;
  line-height: 2em;
}

h1.text-s, h2.text-s, h3.text-s, h4.text-s, h5.text-s, h6.text-s {
  font-size: 0.875em;
  line-height: 1.375em;
}

p.text-s, span.text-s {
  font-size: 0.875em;
  line-height: 1.875em;
}

h1.text-xs, h2.text-xs, h3.text-xs, h4.text-xs, h5.text-xs, h6.text-xs {
  font-size: 0.75em;
  line-height: 1.25em;
}

p.text-xs, span.text-xs {
  font-size: 0.75em;
  line-height: 1.75em;
}

.bold {
  font-weight: 900;
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}

.relative {
  position: relative;
}

.bottom {
  position: absolute;
  bottom: 15px;
  left: 0;
  width: 100%;
}

.left {
  float: left;
}

.right {
  float: right;
}

.center {
  margin: 0 auto;
}

.heart {
  position: relative;
  display: inline-block;
  height: 12px;
  width: 8px;
  margin-right: 18px;
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
.heart:before,
.heart:after {
  position: absolute;
  content: "";
  left: 11px;
  top: 0px;
  width: 11px;
  height: 18px;
  background: #C05F68;
  -moz-border-radius: 50px 50px 0 0;
  border-radius: 50px 50px 0 0;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 0 100%;
  -moz-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  -o-transform-origin: 0 100%;
  transform-origin: 0 100%;
}

.heart:after {
  left: 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}

.icon {
  background-repeat: no-repeat;
}

.icon.icon-eye:before {
  content: " ";
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-389/eye.svg");
  background-size: 15px;
  background-size: cover;
  position: relative;
  display: inline-block;
  top: 4px;
  left: -4px;
  width: 28px;
  height: 17px;
}

.icon.icon-download:before {
  content: " ";
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-389/download.svg");
  background-size: 10px;
  background-size: cover;
  position: relative;
  display: inline-block;
  top: 8px;
  left: -4px;
  width: 25px;
  height: 25px;
}

.button {
  margin-bottom: 20px;
}

a {
  cursor: pointer;
}

a:hover, a:visited {
  text-decoration: none;
}

/* Text Colors */
.button {
  cursor: pointer;
  background: #6EC5AB;
  font-weight: 900;
  line-height: 2.5em;
  color: #ffffff;
  padding: 0em 1em;
  text-align: center;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}
.button:visited {
  background: #9ad6c4;
  border: 2px solid #6EC5AB;
}
.button:hover {
  background: #589e89;
}
.button:active {
  background: #427667;
  color: #ffffff;
}
.button:focus {
  text-decoration: none;
}

a:link {
  color: #6C96A1;
}
a:visited {
  color: #74818e;
}
a:hover {
  color: #384B5D;
}
a:active {
  color: #74818e;
}
a:focus {
  text-decoration: none;
}

button.navy {
  background-color: #384B5D;
  color: #ffffff;
}
button.navy:visited {
  background: #74818e;
  border: 2px solid #384B5D;
}
button.navy:hover {
  background: #2d3c4a;
}
button.navy:active {
  background: #222d38;
  color: #ffffff;
}
button.navy:focus {
  text-decoration: none;
}

.button.navy-60 {
  background-color: #88939e;
}
.button.navy-60:visited {
  background: #74818e;
}
.button.navy-60:hover {
  background: #4c5d6d;
}
.button.navy-60:active {
  background: #2d3c4a;
  color: #ffffff;
}
.button.navy-60:focus {
  text-decoration: none;
}

.button.navy-30 {
  background-color: #c3c9ce;
}
.button.navy-30:visited {
  background: #74818e;
}
.button.navy-30:hover {
  background: #88939e;
  color: #ffffff;
}
.button.navy-30:active {
  background: #6a7886;
  color: #ffffff;
}
.button.navy-30:focus {
  text-decoration: none;
}

.button.navy.outline {
  background: transparent;
  border: 2px solid #384B5D;
  color: #384B5D;
}
.button.navy.outline:visited {
  background: #74818e;
}
.button.navy.outline:hover {
  background: #384B5D;
  color: #ffffff;
}
.button.navy.outline:active {
  background: #2d3c4a;
  color: #ffffff;
}
.button.navy.outline:focus {
  text-decoration: none;
}

.navy-60.outline {
  background: transparent;
  border: 2px solid #74818e;
  color: #74818e;
}
.navy-60.outline:visited {
  background: #74818e;
}
.navy-60.outline:hover {
  background: #74818e;
  color: #ffffff;
}
.navy-60.outline:active {
  background: #2d3c4a;
  color: #ffffff;
}
.navy-60.outline:focus {
  text-decoration: none;
}

.navy-30.outline {
  background: transparent;
  border: 2px solid #afb7be;
  color: #afb7be;
}
.navy-30.outline:visited {
  background: #afb7be;
}
.navy-30.outline:hover {
  background: #afb7be;
  color: #ffffff;
}
.navy-30.outline:active {
  background: #2d3c4a;
  color: #ffffff;
}
.navy-30.outline:focus {
  text-decoration: none;
}

.link.navy.line:link {
  color: #384B5D;
}
.link.navy.line:visited {
  color: #74818e;
  border-bottom: 4px dotted #74818e;
}
.link.navy.line:hover {
  color: #273541;
  border-bottom: 4px dotted #273541;
}
.link.navy.line:active {
  color: #161e25;
  border-bottom: 4px dotted #161e25;
}
.link.navy.line:focus {
  text-decoration: none;
}

.link.navy:link {
  background: transparent;
  color: #384B5D;
  padding-bottom: 10px;
  line-height: 3em;
}
.link.navy:visited {
  color: #606f7d;
  text-decoration: none;
}
.link.navy:hover {
  color: #74818e;
}
.link.navy:active {
  color: #2d3c4a;
}
.link.navy:focus {
  text-decoration: none;
}

button.blue-gray {
  background-color: #A9B4BF;
  color: #ffffff;
}
button.blue-gray:visited {
  background: #c3cbd2;
  border: 2px solid #A9B4BF;
}
button.blue-gray:hover {
  background: #879099;
}
button.blue-gray:active {
  background: #656c73;
  color: #ffffff;
}
button.blue-gray:focus {
  text-decoration: none;
}

.button.blue-gray-60 {
  background-color: #cbd2d9;
}
.button.blue-gray-60:visited {
  background: #c3cbd2;
}
.button.blue-gray-60:hover {
  background: #b2bcc5;
}
.button.blue-gray-60:active {
  background: #879099;
  color: #ffffff;
}
.button.blue-gray-60:focus {
  text-decoration: none;
}

.button.blue-gray-30 {
  background-color: #e5e9ec;
}
.button.blue-gray-30:visited {
  background: #c3cbd2;
}
.button.blue-gray-30:hover {
  background: #cbd2d9;
  color: #ffffff;
}
.button.blue-gray-30:active {
  background: #bfc7cf;
  color: #ffffff;
}
.button.blue-gray-30:focus {
  text-decoration: none;
}

.button.blue-gray.outline {
  background: transparent;
  border: 2px solid #A9B4BF;
  color: #A9B4BF;
}
.button.blue-gray.outline:visited {
  background: #c3cbd2;
}
.button.blue-gray.outline:hover {
  background: #A9B4BF;
  color: #ffffff;
}
.button.blue-gray.outline:active {
  background: #879099;
  color: #ffffff;
}
.button.blue-gray.outline:focus {
  text-decoration: none;
}

.blue-gray-60.outline {
  background: transparent;
  border: 2px solid #c3cbd2;
  color: #c3cbd2;
}
.blue-gray-60.outline:visited {
  background: #c3cbd2;
}
.blue-gray-60.outline:hover {
  background: #c3cbd2;
  color: #ffffff;
}
.blue-gray-60.outline:active {
  background: #879099;
  color: #ffffff;
}
.blue-gray-60.outline:focus {
  text-decoration: none;
}

.blue-gray-30.outline {
  background: transparent;
  border: 2px solid #dde1e5;
  color: #dde1e5;
}
.blue-gray-30.outline:visited {
  background: #dde1e5;
}
.blue-gray-30.outline:hover {
  background: #dde1e5;
  color: #ffffff;
}
.blue-gray-30.outline:active {
  background: #879099;
  color: #ffffff;
}
.blue-gray-30.outline:focus {
  text-decoration: none;
}

.link.blue-gray.line:link {
  color: #A9B4BF;
}
.link.blue-gray.line:visited {
  color: #c3cbd2;
  border-bottom: 4px dotted #c3cbd2;
}
.link.blue-gray.line:hover {
  color: #767e86;
  border-bottom: 4px dotted #767e86;
}
.link.blue-gray.line:active {
  color: #44484c;
  border-bottom: 4px dotted #44484c;
}
.link.blue-gray.line:focus {
  text-decoration: none;
}

.link.blue-gray:link {
  background: transparent;
  color: #A9B4BF;
  padding-bottom: 10px;
  line-height: 3em;
}
.link.blue-gray:visited {
  color: #bac3cc;
  text-decoration: none;
}
.link.blue-gray:hover {
  color: #c3cbd2;
}
.link.blue-gray:active {
  color: #879099;
}
.link.blue-gray:focus {
  text-decoration: none;
}

button.rose {
  background-color: #C05F68;
  color: #ffffff;
}
button.rose:visited {
  background: #d38f95;
  border: 2px solid #C05F68;
}
button.rose:hover {
  background: #9a4c53;
}
button.rose:active {
  background: #73393e;
  color: #ffffff;
}
button.rose:focus {
  text-decoration: none;
}

.button.rose-60 {
  background-color: #d99fa4;
}
.button.rose-60:visited {
  background: #d38f95;
}
.button.rose-60:hover {
  background: #c66f77;
}
.button.rose-60:active {
  background: #9a4c53;
  color: #ffffff;
}
.button.rose-60:focus {
  text-decoration: none;
}

.button.rose-30 {
  background-color: #eccfd2;
}
.button.rose-30:visited {
  background: #d38f95;
}
.button.rose-30:hover {
  background: #d99fa4;
  color: #ffffff;
}
.button.rose-30:active {
  background: #d0878e;
  color: #ffffff;
}
.button.rose-30:focus {
  text-decoration: none;
}

.button.rose.outline {
  background: transparent;
  border: 2px solid #C05F68;
  color: #C05F68;
}
.button.rose.outline:visited {
  background: #d38f95;
}
.button.rose.outline:hover {
  background: #C05F68;
  color: #ffffff;
}
.button.rose.outline:active {
  background: #9a4c53;
  color: #ffffff;
}
.button.rose.outline:focus {
  text-decoration: none;
}

.rose-60.outline {
  background: transparent;
  border: 2px solid #d38f95;
  color: #d38f95;
}
.rose-60.outline:visited {
  background: #d38f95;
}
.rose-60.outline:hover {
  background: #d38f95;
  color: #ffffff;
}
.rose-60.outline:active {
  background: #9a4c53;
  color: #ffffff;
}
.rose-60.outline:focus {
  text-decoration: none;
}

.rose-30.outline {
  background: transparent;
  border: 2px solid #e6bfc3;
  color: #e6bfc3;
}
.rose-30.outline:visited {
  background: #e6bfc3;
}
.rose-30.outline:hover {
  background: #e6bfc3;
  color: #ffffff;
}
.rose-30.outline:active {
  background: #9a4c53;
  color: #ffffff;
}
.rose-30.outline:focus {
  text-decoration: none;
}

.link.rose.line:link {
  color: #C05F68;
}
.link.rose.line:visited {
  color: #d38f95;
  border-bottom: 4px dotted #d38f95;
}
.link.rose.line:hover {
  color: #864349;
  border-bottom: 4px dotted #864349;
}
.link.rose.line:active {
  color: #4d262a;
  border-bottom: 4px dotted #4d262a;
}
.link.rose.line:focus {
  text-decoration: none;
}

.link.rose:link {
  background: transparent;
  color: #C05F68;
  padding-bottom: 10px;
  line-height: 3em;
}
.link.rose:visited {
  color: #cd7f86;
  text-decoration: none;
}
.link.rose:hover {
  color: #d38f95;
}
.link.rose:active {
  color: #9a4c53;
}
.link.rose:focus {
  text-decoration: none;
}

button.teal {
  background-color: #6EC5AB;
  color: #ffffff;
}
button.teal:visited {
  background: #9ad6c4;
  border: 2px solid #6EC5AB;
}
button.teal:hover {
  background: #589e89;
}
button.teal:active {
  background: #427667;
  color: #ffffff;
}
button.teal:focus {
  text-decoration: none;
}

.button.teal-60 {
  background-color: #a8dccd;
}
.button.teal-60:visited {
  background: #9ad6c4;
}
.button.teal-60:hover {
  background: #7dcbb3;
}
.button.teal-60:active {
  background: #589e89;
  color: #ffffff;
}
.button.teal-60:focus {
  text-decoration: none;
}

.button.teal-30 {
  background-color: #d4eee6;
}
.button.teal-30:visited {
  background: #9ad6c4;
}
.button.teal-30:hover {
  background: #a8dccd;
  color: #ffffff;
}
.button.teal-30:active {
  background: #92d4c0;
  color: #ffffff;
}
.button.teal-30:focus {
  text-decoration: none;
}

.button.teal.outline {
  background: transparent;
  border: 2px solid #6EC5AB;
  color: #6EC5AB;
}
.button.teal.outline:visited {
  background: #9ad6c4;
}
.button.teal.outline:hover {
  background: #6EC5AB;
  color: #ffffff;
}
.button.teal.outline:active {
  background: #589e89;
  color: #ffffff;
}
.button.teal.outline:focus {
  text-decoration: none;
}

.teal-60.outline {
  background: transparent;
  border: 2px solid #9ad6c4;
  color: #9ad6c4;
}
.teal-60.outline:visited {
  background: #9ad6c4;
}
.teal-60.outline:hover {
  background: #9ad6c4;
  color: #ffffff;
}
.teal-60.outline:active {
  background: #589e89;
  color: #ffffff;
}
.teal-60.outline:focus {
  text-decoration: none;
}

.teal-30.outline {
  background: transparent;
  border: 2px solid #c5e8dd;
  color: #c5e8dd;
}
.teal-30.outline:visited {
  background: #c5e8dd;
}
.teal-30.outline:hover {
  background: #c5e8dd;
  color: #ffffff;
}
.teal-30.outline:active {
  background: #589e89;
  color: #ffffff;
}
.teal-30.outline:focus {
  text-decoration: none;
}

.link.teal.line:link {
  color: #6EC5AB;
}
.link.teal.line:visited {
  color: #9ad6c4;
  border-bottom: 4px dotted #9ad6c4;
}
.link.teal.line:hover {
  color: #4d8a78;
  border-bottom: 4px dotted #4d8a78;
}
.link.teal.line:active {
  color: #2c4f44;
  border-bottom: 4px dotted #2c4f44;
}
.link.teal.line:focus {
  text-decoration: none;
}

.link.teal:link {
  background: transparent;
  color: #6EC5AB;
  padding-bottom: 10px;
  line-height: 3em;
}
.link.teal:visited {
  color: #8bd1bc;
  text-decoration: none;
}
.link.teal:hover {
  color: #9ad6c4;
}
.link.teal:active {
  color: #589e89;
}
.link.teal:focus {
  text-decoration: none;
}

button.aqua {
  background-color: #6C96A1;
  color: #ffffff;
}
button.aqua:visited {
  background: #98b6bd;
  border: 2px solid #6C96A1;
}
button.aqua:hover {
  background: #567881;
}
button.aqua:active {
  background: #415a61;
  color: #ffffff;
}
button.aqua:focus {
  text-decoration: none;
}

.button.aqua-60 {
  background-color: #a7c0c7;
}
.button.aqua-60:visited {
  background: #98b6bd;
}
.button.aqua-60:hover {
  background: #7ba1aa;
}
.button.aqua-60:active {
  background: #567881;
  color: #ffffff;
}
.button.aqua-60:focus {
  text-decoration: none;
}

.button.aqua-30 {
  background-color: #d3e0e3;
}
.button.aqua-30:visited {
  background: #98b6bd;
}
.button.aqua-30:hover {
  background: #a7c0c7;
  color: #ffffff;
}
.button.aqua-30:active {
  background: #91b0b9;
  color: #ffffff;
}
.button.aqua-30:focus {
  text-decoration: none;
}

.button.aqua.outline {
  background: transparent;
  border: 2px solid #6C96A1;
  color: #6C96A1;
}
.button.aqua.outline:visited {
  background: #98b6bd;
}
.button.aqua.outline:hover {
  background: #6C96A1;
  color: #ffffff;
}
.button.aqua.outline:active {
  background: #567881;
  color: #ffffff;
}
.button.aqua.outline:focus {
  text-decoration: none;
}

.aqua-60.outline {
  background: transparent;
  border: 2px solid #98b6bd;
  color: #98b6bd;
}
.aqua-60.outline:visited {
  background: #98b6bd;
}
.aqua-60.outline:hover {
  background: #98b6bd;
  color: #ffffff;
}
.aqua-60.outline:active {
  background: #567881;
  color: #ffffff;
}
.aqua-60.outline:focus {
  text-decoration: none;
}

.aqua-30.outline {
  background: transparent;
  border: 2px solid #c4d5d9;
  color: #c4d5d9;
}
.aqua-30.outline:visited {
  background: #c4d5d9;
}
.aqua-30.outline:hover {
  background: #c4d5d9;
  color: #ffffff;
}
.aqua-30.outline:active {
  background: #567881;
  color: #ffffff;
}
.aqua-30.outline:focus {
  text-decoration: none;
}

.link.aqua.line:link {
  color: #6C96A1;
}
.link.aqua.line:visited {
  color: #98b6bd;
  border-bottom: 4px dotted #98b6bd;
}
.link.aqua.line:hover {
  color: #4c6971;
  border-bottom: 4px dotted #4c6971;
}
.link.aqua.line:active {
  color: #2b3c40;
  border-bottom: 4px dotted #2b3c40;
}
.link.aqua.line:focus {
  text-decoration: none;
}

.link.aqua:link {
  background: transparent;
  color: #6C96A1;
  padding-bottom: 10px;
  line-height: 3em;
}
.link.aqua:visited {
  color: #89abb4;
  text-decoration: none;
}
.link.aqua:hover {
  color: #98b6bd;
}
.link.aqua:active {
  color: #567881;
}
.link.aqua:focus {
  text-decoration: none;
}

button.off-white {
  background-color: #E6E8EF;
  color: #ffffff;
}
button.off-white:visited {
  background: #eeeff4;
  border: 2px solid #E6E8EF;
}
button.off-white:hover {
  background: #b8babf;
}
button.off-white:active {
  background: #8a8b8f;
  color: #ffffff;
}
button.off-white:focus {
  text-decoration: none;
}

.button.off-white-60 {
  background-color: #f0f1f5;
}
.button.off-white-60:visited {
  background: #eeeff4;
}
.button.off-white-60:hover {
  background: #e9eaf1;
}
.button.off-white-60:active {
  background: #b8babf;
  color: #ffffff;
}
.button.off-white-60:focus {
  text-decoration: none;
}

.button.off-white-30 {
  background-color: #f8f8fa;
}
.button.off-white-30:visited {
  background: #eeeff4;
}
.button.off-white-30:hover {
  background: #f0f1f5;
  color: #ffffff;
}
.button.off-white-30:active {
  background: #eceef3;
  color: #ffffff;
}
.button.off-white-30:focus {
  text-decoration: none;
}

.button.off-white.outline {
  background: transparent;
  border: 2px solid #E6E8EF;
  color: #E6E8EF;
}
.button.off-white.outline:visited {
  background: #eeeff4;
}
.button.off-white.outline:hover {
  background: #E6E8EF;
  color: #ffffff;
}
.button.off-white.outline:active {
  background: #b8babf;
  color: #ffffff;
}
.button.off-white.outline:focus {
  text-decoration: none;
}

.off-white-60.outline {
  background: transparent;
  border: 2px solid #eeeff4;
  color: #eeeff4;
}
.off-white-60.outline:visited {
  background: #eeeff4;
}
.off-white-60.outline:hover {
  background: #eeeff4;
  color: #ffffff;
}
.off-white-60.outline:active {
  background: #b8babf;
  color: #ffffff;
}
.off-white-60.outline:focus {
  text-decoration: none;
}

.off-white-30.outline {
  background: transparent;
  border: 2px solid #f5f6f9;
  color: #f5f6f9;
}
.off-white-30.outline:visited {
  background: #f5f6f9;
}
.off-white-30.outline:hover {
  background: #f5f6f9;
  color: #ffffff;
}
.off-white-30.outline:active {
  background: #b8babf;
  color: #ffffff;
}
.off-white-30.outline:focus {
  text-decoration: none;
}

.link.off-white.line:link {
  color: #E6E8EF;
}
.link.off-white.line:visited {
  color: #eeeff4;
  border-bottom: 4px dotted #eeeff4;
}
.link.off-white.line:hover {
  color: #a1a2a7;
  border-bottom: 4px dotted #a1a2a7;
}
.link.off-white.line:active {
  color: #5c5d60;
  border-bottom: 4px dotted #5c5d60;
}
.link.off-white.line:focus {
  text-decoration: none;
}

.link.off-white:link {
  background: transparent;
  color: #E6E8EF;
  padding-bottom: 10px;
  line-height: 3em;
}
.link.off-white:visited {
  color: #ebedf2;
  text-decoration: none;
}
.link.off-white:hover {
  color: #eeeff4;
}
.link.off-white:active {
  color: #b8babf;
}
.link.off-white:focus {
  text-decoration: none;
}

button.light-gray {
  background-color: #F0F2F9;
  color: #ffffff;
}
button.light-gray:visited {
  background: #f5f6fb;
  border: 2px solid #F0F2F9;
}
button.light-gray:hover {
  background: #c0c2c7;
}
button.light-gray:active {
  background: #909195;
  color: #ffffff;
}
button.light-gray:focus {
  text-decoration: none;
}

.button.light-gray-60 {
  background-color: #f6f7fb;
}
.button.light-gray-60:visited {
  background: #f5f6fb;
}
.button.light-gray-60:hover {
  background: #f2f3fa;
}
.button.light-gray-60:active {
  background: #c0c2c7;
  color: #ffffff;
}
.button.light-gray-60:focus {
  text-decoration: none;
}

.button.light-gray-30 {
  background-color: #fbfbfd;
}
.button.light-gray-30:visited {
  background: #f5f6fb;
}
.button.light-gray-30:hover {
  background: #f6f7fb;
  color: #ffffff;
}
.button.light-gray-30:active {
  background: #f4f5fb;
  color: #ffffff;
}
.button.light-gray-30:focus {
  text-decoration: none;
}

.button.light-gray.outline {
  background: transparent;
  border: 2px solid #F0F2F9;
  color: #F0F2F9;
}
.button.light-gray.outline:visited {
  background: #f5f6fb;
}
.button.light-gray.outline:hover {
  background: #F0F2F9;
  color: #ffffff;
}
.button.light-gray.outline:active {
  background: #c0c2c7;
  color: #ffffff;
}
.button.light-gray.outline:focus {
  text-decoration: none;
}

.light-gray-60.outline {
  background: transparent;
  border: 2px solid #f5f6fb;
  color: #f5f6fb;
}
.light-gray-60.outline:visited {
  background: #f5f6fb;
}
.light-gray-60.outline:hover {
  background: #f5f6fb;
  color: #ffffff;
}
.light-gray-60.outline:active {
  background: #c0c2c7;
  color: #ffffff;
}
.light-gray-60.outline:focus {
  text-decoration: none;
}

.light-gray-30.outline {
  background: transparent;
  border: 2px solid #f9fafd;
  color: #f9fafd;
}
.light-gray-30.outline:visited {
  background: #f9fafd;
}
.light-gray-30.outline:hover {
  background: #f9fafd;
  color: #ffffff;
}
.light-gray-30.outline:active {
  background: #c0c2c7;
  color: #ffffff;
}
.light-gray-30.outline:focus {
  text-decoration: none;
}

.link.light-gray.line:link {
  color: #F0F2F9;
}
.link.light-gray.line:visited {
  color: #f5f6fb;
  border-bottom: 4px dotted #f5f6fb;
}
.link.light-gray.line:hover {
  color: #a8a9ae;
  border-bottom: 4px dotted #a8a9ae;
}
.link.light-gray.line:active {
  color: #606164;
  border-bottom: 4px dotted #606164;
}
.link.light-gray.line:focus {
  text-decoration: none;
}

.link.light-gray:link {
  background: transparent;
  color: #F0F2F9;
  padding-bottom: 10px;
  line-height: 3em;
}
.link.light-gray:visited {
  color: #f3f5fa;
  text-decoration: none;
}
.link.light-gray:hover {
  color: #f5f6fb;
}
.link.light-gray:active {
  color: #c0c2c7;
}
.link.light-gray:focus {
  text-decoration: none;
}

button.dark-gray {
  background-color: #808085;
  color: #ffffff;
}
button.dark-gray:visited {
  background: #a6a6aa;
  border: 2px solid #808085;
}
button.dark-gray:hover {
  background: #66666a;
}
button.dark-gray:active {
  background: #4d4d50;
  color: #ffffff;
}
button.dark-gray:focus {
  text-decoration: none;
}

.button.dark-gray-60 {
  background-color: #b3b3b6;
}
.button.dark-gray-60:visited {
  background: #a6a6aa;
}
.button.dark-gray-60:hover {
  background: #8d8d91;
}
.button.dark-gray-60:active {
  background: #66666a;
  color: #ffffff;
}
.button.dark-gray-60:focus {
  text-decoration: none;
}

.button.dark-gray-30 {
  background-color: #d9d9da;
}
.button.dark-gray-30:visited {
  background: #a6a6aa;
}
.button.dark-gray-30:hover {
  background: #b3b3b6;
  color: #ffffff;
}
.button.dark-gray-30:active {
  background: #a0a0a4;
  color: #ffffff;
}
.button.dark-gray-30:focus {
  text-decoration: none;
}

.button.dark-gray.outline {
  background: transparent;
  border: 2px solid #808085;
  color: #808085;
}
.button.dark-gray.outline:visited {
  background: #a6a6aa;
}
.button.dark-gray.outline:hover {
  background: #808085;
  color: #ffffff;
}
.button.dark-gray.outline:active {
  background: #66666a;
  color: #ffffff;
}
.button.dark-gray.outline:focus {
  text-decoration: none;
}

.dark-gray-60.outline {
  background: transparent;
  border: 2px solid #a6a6aa;
  color: #a6a6aa;
}
.dark-gray-60.outline:visited {
  background: #a6a6aa;
}
.dark-gray-60.outline:hover {
  background: #a6a6aa;
  color: #ffffff;
}
.dark-gray-60.outline:active {
  background: #66666a;
  color: #ffffff;
}
.dark-gray-60.outline:focus {
  text-decoration: none;
}

.dark-gray-30.outline {
  background: transparent;
  border: 2px solid #ccccce;
  color: #ccccce;
}
.dark-gray-30.outline:visited {
  background: #ccccce;
}
.dark-gray-30.outline:hover {
  background: #ccccce;
  color: #ffffff;
}
.dark-gray-30.outline:active {
  background: #66666a;
  color: #ffffff;
}
.dark-gray-30.outline:focus {
  text-decoration: none;
}

.link.dark-gray.line:link {
  color: #808085;
}
.link.dark-gray.line:visited {
  color: #a6a6aa;
  border-bottom: 4px dotted #a6a6aa;
}
.link.dark-gray.line:hover {
  color: #5a5a5d;
  border-bottom: 4px dotted #5a5a5d;
}
.link.dark-gray.line:active {
  color: #333335;
  border-bottom: 4px dotted #333335;
}
.link.dark-gray.line:focus {
  text-decoration: none;
}

.link.dark-gray:link {
  background: transparent;
  color: #808085;
  padding-bottom: 10px;
  line-height: 3em;
}
.link.dark-gray:visited {
  color: #99999d;
  text-decoration: none;
}
.link.dark-gray:hover {
  color: #a6a6aa;
}
.link.dark-gray:active {
  color: #66666a;
}
.link.dark-gray:focus {
  text-decoration: none;
}

button.mineshaft {
  background-color: #4D4D4E;
  color: #ffffff;
}
button.mineshaft:visited {
  background: #828283;
  border: 2px solid #4D4D4E;
}
button.mineshaft:hover {
  background: #3e3e3e;
}
button.mineshaft:active {
  background: #2e2e2f;
  color: #ffffff;
}
button.mineshaft:focus {
  text-decoration: none;
}

.button.mineshaft-60 {
  background-color: #949495;
}
.button.mineshaft-60:visited {
  background: #828283;
}
.button.mineshaft-60:hover {
  background: #5f5f60;
}
.button.mineshaft-60:active {
  background: #3e3e3e;
  color: #ffffff;
}
.button.mineshaft-60:focus {
  text-decoration: none;
}

.button.mineshaft-30 {
  background-color: #cacaca;
}
.button.mineshaft-30:visited {
  background: #828283;
}
.button.mineshaft-30:hover {
  background: #949495;
  color: #ffffff;
}
.button.mineshaft-30:active {
  background: #7a7a7a;
  color: #ffffff;
}
.button.mineshaft-30:focus {
  text-decoration: none;
}

.button.mineshaft.outline {
  background: transparent;
  border: 2px solid #4D4D4E;
  color: #4D4D4E;
}
.button.mineshaft.outline:visited {
  background: #828283;
}
.button.mineshaft.outline:hover {
  background: #4D4D4E;
  color: #ffffff;
}
.button.mineshaft.outline:active {
  background: #3e3e3e;
  color: #ffffff;
}
.button.mineshaft.outline:focus {
  text-decoration: none;
}

.mineshaft-60.outline {
  background: transparent;
  border: 2px solid #828283;
  color: #828283;
}
.mineshaft-60.outline:visited {
  background: #828283;
}
.mineshaft-60.outline:hover {
  background: #828283;
  color: #ffffff;
}
.mineshaft-60.outline:active {
  background: #3e3e3e;
  color: #ffffff;
}
.mineshaft-60.outline:focus {
  text-decoration: none;
}

.mineshaft-30.outline {
  background: transparent;
  border: 2px solid #b8b8b8;
  color: #b8b8b8;
}
.mineshaft-30.outline:visited {
  background: #b8b8b8;
}
.mineshaft-30.outline:hover {
  background: #b8b8b8;
  color: #ffffff;
}
.mineshaft-30.outline:active {
  background: #3e3e3e;
  color: #ffffff;
}
.mineshaft-30.outline:focus {
  text-decoration: none;
}

.link.mineshaft.line:link {
  color: #4D4D4E;
}
.link.mineshaft.line:visited {
  color: #828283;
  border-bottom: 4px dotted #828283;
}
.link.mineshaft.line:hover {
  color: #363637;
  border-bottom: 4px dotted #363637;
}
.link.mineshaft.line:active {
  color: #1f1f1f;
  border-bottom: 4px dotted #1f1f1f;
}
.link.mineshaft.line:focus {
  text-decoration: none;
}

.link.mineshaft:link {
  background: transparent;
  color: #4D4D4E;
  padding-bottom: 10px;
  line-height: 3em;
}
.link.mineshaft:visited {
  color: #717171;
  text-decoration: none;
}
.link.mineshaft:hover {
  color: #828283;
}
.link.mineshaft:active {
  color: #3e3e3e;
}
.link.mineshaft:focus {
  text-decoration: none;
}

.pill, .outline.pill {
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  -ms-border-radius: 500px;
  border-radius: 500px;
}

/* Spinner from http://tobiasahlin.com/spinkit/ */
.spinner {
  margin: 40px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}